<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>Foo</dd>

    <dt>Name</dt>
    <dd>Bar</dd>

    <dt>Description</dt>
    <dd>Something</dd>

    <dt>Price</dt>
    <dd>Bar</dd>

    <dt>Available quantity</dt>
    <dd>Bar</dd>

    <dt>Picture</dt>
    <dd>Bar</dd>

    <button class="btn btn-light">Add to cart</button><br> <br>
    <input type="number">
    <button class="btn btn-light">Buy</button>

  </dl>