<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" >

        <ul  class="navbar-nav">
            <li class="nav-item" >
                <a  [routerLink]="['']"  class="nav-link">Marketplace</a>
            </li>
    
            <li class="nav-item">
                <a  [routerLink]="['/product-list']" class="nav-link">Products</a>
            </li>

            <!-- <li class="nav-item">
                <a  [routerLink]="['/shopping-cart']" class="nav-link">Cart</a>
            </li> -->
        </ul>
    </div>

    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link ">Log in </a>
        </li>
    </ul>

</nav>
