<div class="row">
    <div class="col-8">
       <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-2">Id</th>
                    <th class="col-3">Name</th>
                    <th class="col-3">Picture</th>
                    <th class="col-2">Available quantity</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of productsInCart">
                    <td> {{product.productId}}</td>
                    <td> {{product.productName}}</td>
                    <td> {{product.productUrl}}</td>
                    <td> {{product.quantityInCart}}</td>
                </tr>
            </tbody>
       </table>

       <button class="btn btn-light" (click)="goToCheckOut()">Checkout</button>
       <div><a [routerLink]="['.', id]">Checkout</a></div> 
    </div>
</div>
