<div class="row">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" class="form-control">
            </div>
            <div class="form-group">
                <label for="houseNumeber">House Number</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control">
            </div>
            
        </form>
        <br>
        <button (click)="submitForm()" class="btn btn-light">Submit</button>
        <!-- <div><a [routerLink]="['.', id]">Submit</a></div>  -->
    </div>
</div>
