<div class="row">
    <div class="col-4">
        <form>
            <div class="form-group">
                <select name="category" class="form-control" [(ngModel)]="categoryInputValue" (change)="getProductByCategory(categoryInputValue)">
                    <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                </select>
                <p>{{categoryInputValue}}</p>
            </div>

        </form>

    </div>
</div>

<div><a [routerLink]="['.', cartId]">View cart</a></div> 

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-2">Id</th>
            <th class="col-3">Name</th>
            <th class="col-3">Picture</th>
            <th class="col-2">Available quantity</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td> <img class="img-fluid" src="{{product.pictureUrl}}"> </td>
            <td class=" justify-content-center">{{product.quantity}}</td>
            <td> <button class="btn btn-info" (click)="goToDetails()">Details</button> </td>
            <td> <button class="btn btn-light" (click)="addItemToCart(product.id)">Add to cart</button> </td>
        </tr>
    </tbody>
</table>
